@import "styles/variables.css";
body {
	background-color: var(--beige);
	font-family: var(--Alata);
}


h1{ 
	font-family: var(--Playfair-Display);
}
.h1,.h2,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--Alata);
}

.thin-font {
	font-weight: 100; 
  }

.list-style {
	list-style: none;
	padding: 0;
}

.dark-background {
	background-color: var(--footer-bg);
	color: var(--white);
}

.footer-left {
	background-color: var(--light-green);
}

.footer-right {
	background-color: var(--light-blue);
}

.button {
	border: 2px solid var(--black);
	border-radius: 0;
	padding: 0.5rem 3rem;
	
}

.button:hover {
	background-color: var(--black);
	color: var(--beige);
}

.button:active {
	background-color: var(--light-green);
  }

.name-style {
	font-size: 2rem;
}

.name-style-xl {
	font-size: 3rem;
}

a {
	color: var(--black);
	text-decoration: none;
}
a:hover {
	color: var(--dark-gray); 

  }

.admin-link a {
	color: var(--beige);
}

.admin-link a:hover {
	color: var(--dark-gray);
}

.link-color {
	color: var(--white);
}

.img-scale {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

.img-max {
	max-width: 100%;
}

.input-border {
	border: none;
	border-bottom: 1px solid var(--black); 
	outline: none; 
}

.social-icons img {
	max-width: 25px;
	max-height: 25px; 
	object-fit: contain; }

.light-background {
	background-color: var(--light-green);
}

@media screen and (min-width: 590px) {
	.name-style {
		font-size: 2.5rem;
	}
	
	.name-style-xl {
		font-size: 4rem;
	}
}

@media screen and (min-width: 760px) {
	.name-style {
		font-size: 3rem;
	}
	
	.name-style-xl {
		font-size: 6rem;
	}
}

@media screen and (min-width: 1024px) {
	.name-style {
		font-size: 5rem;
	}
	
	.name-style-xl {
		font-size: 8rem;
	}
}